<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>I am Dev Soni, I love programming and watching Animes</p>

</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>More Stuffs about to come..</p>
</aside>
</div>